<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${stateRegion.name}">Cities</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        /* Specify the dimensions of your map */
        #map {
            width: 100%;
            height: 600px;
        }
    </style>
</head>
<body>
<div id='map'></div>
<h1 th:text="${stateRegion.name}"></h1>
<h2>List of Cities</h2>
<ol>
    <li th:each="city : ${stateRegion.cities}">
        <span th:text="${city.name}"></span>
    </li>
</ol>

<script data-th-inline="javascript">
    /*<![CDATA[*/
    var stateRegion = /*[[${stateRegion}]]*/ null;
    var mapboxAccessToken = /*[[${mapboxAccessToken}]]*/ 'YOUR_API_TOKEN';
    var longitude = /*[[${longitude}]]*/ -96;
    var latitude = /*[[${latitude}]]*/ 37.8;
    /*]]>*/

    // Initialize Mapbox map
    mapboxgl.accessToken = mapboxAccessToken;
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [longitude, latitude],
        zoom: 3
    });

    map.on('load', function() {
        // Add markers for each city
        var cities = [];
        stateRegion.cities.forEach(function(city) {
            var cityName = city.name;
            if (city.location !== null && city.location !== undefined) {
                var cityCoordinates = [city.location.x, city.location.y];
                cities.push({ name: cityName, coordinates: cityCoordinates });
            } else {
                console.log(city.name + " does not have coordinates.");
            }

        });

        cities.forEach(function(city) {
            // Create a marker for each city
            new mapboxgl.Marker()
                .setLngLat(city.coordinates)
                .setPopup(new mapboxgl.Popup().setText(city.name))
                .addTo(map);
        });
    });
</script>

</body>
</html>
